footer.ftco-footer.ftco-bg-dark.ftco-section
    .container
        .row.mb-5
            .col-md-6.col-lg-3
                .ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Kusina
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-3
                        li.ftco-animate
                            a(href='#')
                                span.icon-twitter
                        li.ftco-animate
                            a(href='#')
                                span.icon-facebook
                        li.ftco-animate
                            a(href='#')
                                span.icon-instagram
            .col-md-6.col-lg-3
                .ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Open Hours
                    ul.list-unstyled.open-hours
                        li.d-flex
                            span Monday
                            span 9:00 - 24:00
                        li.d-flex
                            span Tuesday
                            span 9:00 - 24:00
                        li.d-flex
                            span Wednesday
                            span 9:00 - 24:00
                        li.d-flex
                            span Thursday
                            span 9:00 - 24:00
                        li.d-flex
                            span Friday
                            span 9:00 - 02:00
                        li.d-flex
                            span Saturday
                            span 9:00 - 02:00
                        li.d-flex
                            span Sunday
                            span  Closed
            .col-md-6.col-lg-3
                .ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Newsletter
                    p Far far away, behind the word mountains, far from the countries.
                    form.subscribe-form(action='#')
                        .form-group
                            input.form-control.mb-2.text-center(type='text' placeholder='Enter email address')
                            input.form-control.submit.px-3(type='submit' value='Subscribe')
            .col-md-6.col-lg-3
                .ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Instagram
                    .thumb.d-sm-flex
                        a.thumb-menu.img(href='#' style='background-image: url(images/insta-1.jpg);')
                        a.thumb-menu.img(href='#' style='background-image: url(images/insta-2.jpg);')
                        a.thumb-menu.img(href='#' style='background-image: url(images/insta-3.jpg);')
                    .thumb.d-flex
                        a.thumb-menu.img(href='#' style='background-image: url(images/insta-4.jpg);')
                        a.thumb-menu.img(href='#' style='background-image: url(images/insta-5.jpg);')
                        a.thumb-menu.img(href='#' style='background-image: url(images/insta-6.jpg);')
        .row
            .col-md-12.text-center
                p
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    | Copyright &copy;
                    script.
                      document.write(new Date().getFullYear());
                    |  All rights reserved | This template is made with
                    i.icon-heart(aria-hidden='true')
                    |  by
                    a(href='https://colorlib.com' target='_blank') Colorlib
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// loader
#ftco-loader.show.fullscreen
    svg.circular(width='48px' height='48px')
        circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
        circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
script(src='/js/jquery.min.js')
script(src='/js/jquery-migrate-3.0.1.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.easing.1.3.js')
script(src='/js/jquery.waypoints.min.js')
script(src='/js/jquery.stellar.min.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/aos.js')
script(src='/js/jquery.animateNumber.min.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/jquery.timepicker.min.js')
script(src='/js/scrollax.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='/js/google-map.js')
script(src='/js/main.js')
