
    section.hero-wrap.hero-wrap-2(style="background-image: url('images/bg_4.jpg');", data-stellar-background-ratio='0.5')
      .overlay
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            h1.mb-2.bread About
            p.breadcrumbs
              span.mr-2
                a(href='index.html')
                  | Home 
                  i.ion-ios-arrow-forward
              span
                | About 
                i.ion-ios-arrow-forward
    section.ftco-section.ftco-wrap-about.ftco-no-pb.ftco-no-pt
      .container
        .row.no-gutters
          .col-sm-5.img.img-2.d-flex.align-items-center.justify-content-center.justify-content-md-end(style='background-image: url(images/about.jpg); position: relative')
            a.icon-video.popup-vimeo.d-flex.justify-content-center.align-items-center(href='https://vimeo.com/45830194')
              span.ion-ios-play
          .col-sm-7.wrap-about.py-5.ftco-animate
            .heading-section.mt-5.mb-4
              .pl-lg-5.ml-md-5
                span.subheading About
                h2.mb-4 Welcome to Kusina Restaurant
            .pl-lg-5.ml-md-5
              p
                | On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
              h3.mt-5 Special Recipe
              .thumb.my-4.d-flex
                a.thumb-menu.pr-md-4.text-center(href='#')
                  .img(style='background-image: url(images/lunch-4.jpg);')
                  h4 Australian Organic Beef
                a.thumb-menu.pr-md-4.text-center(href='#')
                  .img(style='background-image: url(images/lunch-7.jpg);')
                  h4 Australian Organic Beef
                a.thumb-menu.pr-md-4.text-center(href='#')
                  .img(style='background-image: url(images/lunch-6.jpg);')
                  h4 Australian Organic Beef
    section#section-counter.ftco-section.ftco-counter.img(style='background-image: url(images/bg_4.jpg);', data-stellar-background-ratio='0.5')
      .container
        .row.d-md-flex.align-items-center.justify-content-center
          .col-lg-10
            .row.d-md-flex.align-items-center
              .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
                .block-18
                  .text
                    strong.number(data-number='18') 0
                    span Years of Experienced
              .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
                .block-18
                  .text
                    strong.number(data-number='20000') 0
                    span Happy Customers
              .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
                .block-18
                  .text
                    strong.number(data-number='564') 0
                    span Finished Projects
              .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
                .block-18
                  .text
                    strong.number(data-number='300') 0
                    span Working Days
    section.ftco-section
      .container
        .row.justify-content-center.mb-5.pb-2
          .col-md-7.text-center.heading-section.ftco-animate
            span.subheading Chef
            h2.mb-4 Our Mater Chef
        .row
          .col-md-6.col-lg-3.ftco-animate
            .staff
              .img(style='background-image: url(images/chef-4.jpg);')
              .text.px-4.pt-4
                h3 John Smooth
                span.position.mb-2 CEO, Co Founder
                .faded
                  p I am an ambitious workaholic, but apart from that, pretty simple person.
                  ul.ftco-social.d-flex
                    li.ftco-animate
                      a(href='#')
                        span.icon-twitter
                    li.ftco-animate
                      a(href='#')
                        span.icon-facebook
                    li.ftco-animate
                      a(href='#')
                        span.icon-google-plus
                    li.ftco-animate
                      a(href='#')
                        span.icon-instagram
          .col-md-6.col-lg-3.ftco-animate
            .staff
              .img(style='background-image: url(images/chef-2.jpg);')
              .text.px-4.pt-4
                h3 Rebeca Welson
                span.position.mb-2 Head Chef
                .faded
                  p I am an ambitious workaholic, but apart from that, pretty simple person.
                  ul.ftco-social.d-flex
                    li.ftco-animate
                      a(href='#')
                        span.icon-twitter
                    li.ftco-animate
                      a(href='#')
                        span.icon-facebook
                    li.ftco-animate
                      a(href='#')
                        span.icon-google-plus
                    li.ftco-animate
                      a(href='#')
                        span.icon-instagram
          .col-md-6.col-lg-3.ftco-animate
            .staff
              .img(style='background-image: url(images/chef-3.jpg);')
              .text.px-4.pt-4
                h3 Kharl Branyt
                span.position.mb-2 Chef
                .faded
                  p I am an ambitious workaholic, but apart from that, pretty simple person.
                  ul.ftco-social.d-flex
                    li.ftco-animate
                      a(href='#')
                        span.icon-twitter
                    li.ftco-animate
                      a(href='#')
                        span.icon-facebook
                    li.ftco-animate
                      a(href='#')
                        span.icon-google-plus
                    li.ftco-animate
                      a(href='#')
                        span.icon-instagram
          .col-md-6.col-lg-3.ftco-animate
            .staff
              .img(style='background-image: url(images/chef-1.jpg);')
              .text.px-4.pt-4
                h3 Luke Simon
                span.position.mb-2 Chef
                .faded
                  p I am an ambitious workaholic, but apart from that, pretty simple person.
                  ul.ftco-social.d-flex
                    li.ftco-animate
                      a(href='#')
                        span.icon-twitter
                    li.ftco-animate
                      a(href='#')
                        span.icon-facebook
                    li.ftco-animate
                      a(href='#')
                        span.icon-google-plus
                    li.ftco-animate
                      a(href='#')
                        span.icon-instagram
    section.ftco-section.testimony-section(style='background-image: url(images/bg_5.jpg);', data-stellar-background-ratio='0.5')
      .container
        .row.justify-content-center.mb-5.pb-2
          .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
            span.subheading Testimony
            h2.mb-4 Happy Customer
        .row.ftco-animate.justify-content-center
          .col-md-7
            .carousel-testimony.owl-carousel.ftco-owl
              .item
                .testimony-wrap.text-center.py-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_1.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text.p-3
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Arthur Browner
                    span.position Customer
              .item
                .testimony-wrap.text-center.py-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_2.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text.p-3
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Arthur Browner
                    span.position Customer
              .item
                .testimony-wrap.text-center.py-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_3.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text.p-3
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Arthur Browner
                    span.position Customer
              .item
                .testimony-wrap.text-center.py-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_4.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text.p-3
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Arthur Browner
                    span.position Customer
              .item
                .testimony-wrap.text-center.py-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_3.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text.p-3
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Arthur Browner
                    span.position Customer
    section.ftco-section
      .container
        .row.justify-content-center.mb-5.pb-2
          .col-md-7.text-center.heading-section.ftco-animate
            span.subheading More Healthy Foods
            h2.mb-4 We Love Healthy and Natural Foods
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            p
              a.btn.btn-primary.px-4.py-3(href='#') Book A Table
    footer.ftco-footer.ftco-bg-dark.ftco-section
      .container
        .row.mb-5
          .col-md-6.col-lg-3
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Kusina
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-3
                li.ftco-animate
                  a(href='#')
                    span.icon-twitter
                li.ftco-animate
                  a(href='#')
                    span.icon-facebook
                li.ftco-animate
                  a(href='#')
                    span.icon-instagram
          .col-md-6.col-lg-3
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Open Hours
              ul.list-unstyled.open-hours
                li.d-flex
                  span Monday
                  span 9:00 - 24:00
                li.d-flex
                  span Tuesday
                  span 9:00 - 24:00
                li.d-flex
                  span Wednesday
                  span 9:00 - 24:00
                li.d-flex
                  span Thursday
                  span 9:00 - 24:00
                li.d-flex
                  span Friday
                  span 9:00 - 02:00
                li.d-flex
                  span Saturday
                  span 9:00 - 02:00
                li.d-flex
                  span Sunday
                  span  Closed
          .col-md-6.col-lg-3
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Newsletter
              p Far far away, behind the word mountains, far from the countries.
              form.subscribe-form(action='#')
                .form-group
                  input.form-control.mb-2.text-center(type='text', placeholder='Enter email address')
                  input.form-control.submit.px-3(type='submit', value='Subscribe')
          .col-md-6.col-lg-3
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Instagram
              .thumb.d-sm-flex
                a.thumb-menu.img(href='#', style='background-image: url(images/insta-1.jpg);')
                a.thumb-menu.img(href='#', style='background-image: url(images/insta-2.jpg);')
                a.thumb-menu.img(href='#', style='background-image: url(images/insta-3.jpg);')
              .thumb.d-flex
                a.thumb-menu.img(href='#', style='background-image: url(images/insta-4.jpg);')
                a.thumb-menu.img(href='#', style='background-image: url(images/insta-5.jpg);')
                a.thumb-menu.img(href='#', style='background-image: url(images/insta-6.jpg);')
        .row
          .col-md-12.text-center
            p
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.icon-heart(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              // loader
              #ftco-loader.show.fullscreen
                svg.circular(width='48px', height='48px')
                  circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
                  circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#F96D00')
              script(src='js/jquery.min.js')
              script(src='js/jquery-migrate-3.0.1.min.js')
              script(src='js/popper.min.js')
              script(src='js/bootstrap.min.js')
              script(src='js/jquery.easing.1.3.js')
              script(src='js/jquery.waypoints.min.js')
              script(src='js/jquery.stellar.min.js')
              script(src='js/owl.carousel.min.js')
              script(src='js/jquery.magnific-popup.min.js')
              script(src='js/aos.js')
              script(src='js/jquery.animateNumber.min.js')
              script(src='js/bootstrap-datepicker.js')
              script(src='js/jquery.timepicker.min.js')
              script(src='js/scrollax.min.js')
              script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
              script(src='js/google-map.js')
              script(src='js/main.js')
